<%if(title !='Login/Logout' ){%>
    <%if(title !='Register' ){%>
        <hr>
        <div class="col-12 text-danger">
            <h3>Nguyễn Xuân Duẫn PH21488</h3>
        </div>
        </div>
        </div>
        <%};%>
            <%};%>

                </body>

                </html>